.buyBookWrapper {
  width: 100%;
  background-color: #7a8eb9;
}

.bookLinks {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 5px;
}

.bookLinks h2 {
  color: #0d4880;
  font-size: 1.5em;
  margin: 0.67em 0;
}

.buyBookLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
}

.buyBookLinks a {
  margin: 10px;
  padding: 0 20px;
  font-weight: bold;
  color: #fff4d5;
  text-decoration: none;
  border: 2px solid #ee6556;
  border-radius: 20px;
}

.buyBookLinks a:hover {
  color: #ee6556;
}

.price {
  /* color: #233066; */
  font-size: 16px;
  margin-bottom: 3px;
}

.book {
  color: #0d4880;
  font-size: 10px;
  margin-top: 3px;
}

@media screen and (min-width: 376px) {
  .buyBookLinks {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  .price {
    font-size: 20px;
  }
  .book {
    font-size: 14px;
  }
}
